* {
    padding:0;
    margin:0;
}

.container {
    background-color: #00000042;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alertbox {
    padding:20px;
    width:450px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #111;
    display: flex;
}

input[type="button"] {
    padding:6px 15px;
    border-radius: 5px;
    border:none;
    margin-top:15px;
    font-weight: bold;
}

input[value="Continue"] {
    background-color: #0070f2;
    color:white;
}

input[value="Cancel"] {
    background-color: #fff;
    color:#0070f2;
    border:1px solid rgb(212, 212, 212);
}

.col1 i {
    font-size: 40px;
    margin:5px;
    color:#0070f2;
}

.col2 {
    margin-left:10px;
}

.col2 i {
    float:right;
    color:gray;
    font-size: 20px;
    margin-top:5px;
}

.col2 p {
    width:95%;
    margin-top:10px;
}

.title {
    font-size:25px;
    font-weight: bold;
    margin-bottom:100px;
}