@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&display=swap');
* {
    margin:0;
    padding:0;
    font-family: 'Assistant', sans-serif;   
}

/* Container  */
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #89abf0;
    border:1px solid green;
}

.container > div {
    width: fit-content;
    height: fit-content;
}

/* Content 1 */
.content1 img{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* Content 2 */
.content2 {
    background-color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding:0 80px;
    text-align: center;
}

.field {
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: flex-start;
}

.field span {
    border:0.5px solid #bbbbbb;
    border-radius: 5px;
    padding:8px;
    width:100%;
    text-align: left;
}

.field span i {
    color:#272727;
    padding-right: 5px;
    padding-left:5px;
}

/* .content2 > input {
    display: block;
    text-align: center;
} */

.content2 h1 {
    color:#2943af;
    font-weight: 900;
    margin-top:30px;
    letter-spacing: 1px;
    font-size: 38px;
}

.content2 p{
    font-size: 12px;
    margin:10px 0px 15px 0;
    color:gray;
}

.inputstyle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:none;
    outline: none;
}

input::placeholder {
    font-size:12px;
}

button {
    background-color: #1a42bc;
    color:white;
    border:none;
    border-radius: 5px;
    width:100%;
    padding:9px 0;
}
