@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500&display=swap');
* {
    margin:0;
    padding:0;
    font-family: 'Assistant', sans-serif;   
}

/* Container  */
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #89abf0;
}

.container > div {
    width: fit-content;
    height: fit-content;
    height: 500px;
}

/* Content 1 */
.content1 img{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height:100%;
}

/* Content 2 */
.content2 {
    background-color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding:0 80px;
    text-align: center;
}

.field {
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: flex-start;
}

.field span {
    border:0.5px solid #bbbbbb;
    border-radius: 8px;
    padding:8px 0;
    width:100%;
    text-align: left;
}

.field span i {
    color:#272727;
    padding-right: 8px;
    padding-left:12px;
}

.content2 h1 {
    color:#2943af;
    font-weight: 900;
    margin-top:38px;
    letter-spacing: 1px;
    font-size: 35px;
}

.content2 p{
    font-size: 10px;
    margin:10px 0px 15px 0;
    color:gray;
}

.inputstyle {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:none;
    outline: none;
}

input::placeholder {
    font-size:12px;
    color:black;
}

button {
    background-color: #1a42bc;
    color:white;
    border:none;
    border-radius: 8px;
    width:100%;
    padding:10px 0;
}

.signtext {
    margin-top:30px !important;
    font-size: 11px !important;
    color:black !important;
    font-weight: bold;
}

.signuptype span {
    font-size:13px !important;
    font-weight:600;
    border:0.5px solid #d1d1d1;
    padding:7px 15px;
    border-radius: 5px;
}

.signuptype span i {
    padding-right: 5px;
    font-size: 15px;
}

.alreadyaccount {
    color:#999797 !important;
    margin-top: 35px !important;
}

.alreadyaccount a {
    text-decoration: none;
}

/* media query */
@media only screen and (max-width: 900px) {
    .container {
        flex-direction: column;
        height: 100vh;
        padding:30px 0;
    }

    .content1 {
        display: none;
    }

    .content2 {
        border-radius: 20px;
    }
    /* .content1 img{
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 0px;
    } */
    
    /* .content2 {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    } */
    

  }